.typeahead {
  margin-top: 2px;
  border-radius: 4px;
}
.well {
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  background-color: #e6e4da;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.well-large {
  padding: 24px;
  border-radius: 6px;
}
.well-small {
  padding: 9px;
  border-radius: 3px;
}
.hero-unit {
  margin-bottom: 30px;
  padding: 60px;
  border-radius: 6px;
  background-color: #e6e4da;
  color: inherit;
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
}
.hero-unit h1 {
  margin-bottom: 0;
  color: inherit;
  letter-spacing: -1px;
  font-size: 60px;
  line-height: 1;
}
.hero-unit li {
  line-height: 30px;
}